{% extends 'register/base.html' %}
{% load static %}
{% block content%}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>CNN Image Prediction Tool</title>
    <link rel="stylesheet" href="{% static 'register/css/main.css' %}" />


</head>

<body>




   

    <div class="wrapper">
        <form method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            <input class=" btn custom-file-upload"
                   type="file"
                   accept="image"
                   name="image"
                   id="file" style="width: 250px" />

            <div class="status">
                <p id="message">{{ message }}</p>
            </div>



            <img src="{% if image_url %}{{ image_url }}{% else %}{% static 'predict/images/default.png' %}{% endif %}"
                 alt="Compressed Image"
                 width="200px" />
             <br>
             <br>
            <div class="info_container">
                <ul>
                    <!-- <li>Name: <span class="name">{{ image.name }}</span></li> -->
                    <strong>
                    <li>Prediction: <span name="prediction" class="type">{{ prediction }}</span></li>
                    </strong>
                    {% if prediction == "Monkeypox" %}
                    <p style="color:red">You must see a doctor</p>
                    {% endif %}
                </ul>

            </div>
            <div class="btn_predict text-center text-lg-start">
                <div class="row align-items-center h-200">
                    <div class="row col-md-12 mx-auto text-center" style="font-size: x-large;">
                        <button class="btn" type="submit" id="submitBtn">Check</button>
                    </div>
                </div>
            </div>

        </form>



    </div>

    </div>

    <!--<div class="header">
         <h4><span>Tensored </span>Django</h4>
     </div>-->


    <script src="{% static 'predict/js/main.js' %}"></script>
</body>
</html>
{% endblock %}